body{
    background-color: #079E71;
}

#header{
 height: 70px;
width: 100%;
position: absolute;
left: 0px;
top: 0px;
border-radius: 0px;
background: #E5FCEA;
}

.logo-image{
    position: absolute;
width: 70px;
height: 70px;
left: 15px;
top: 0px;
}

.logo-text{
    position: absolute;
width: 700px;
height: 47px;
left: 99px;
top: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: #055903;
}

.view-chart{
    position: absolute;
width: 250px;
height: 50px;
right: 30px;
top: 9px;

background: #4BFF73;
border-radius: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */


color: #3F1802;
}

.create-chart{
    position: absolute;
width: 250px;
height: 50px;
right: 320px;
top: 9px;

background: #4BFF73;
border-radius: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
/* identical to box height */


color: #3F1802;
}